body {
    background: pink;

    @media (min-width: 600px) {
        background: yellow;
    }

    @media(min-width: 1080px) {
        background: blue;
    }

    @media (min-width: 1400px)  {
        background: red;
    }
}